services:
  postgres:
    image: postgres:17
    restart: unless-stopped
    ports:
      - '5432:5432'
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_DATABASE}
    volumes:
      - pgdata:/var/lib/postgresql/data

  adminer:
    image: adminer
    container_name: adminer_ui_nova_core
    ports:
      - '8080:8080'
    depends_on:
      - postgres
    environment:
      ADMINER_DEFAULT_SERVER: postgres

  minio:
    image: minio/minio
    container_name: minio
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: admin
      MINIO_ROOT_PASSWORD: password
    ports:
      - '9000:9000' # S3 endpoint
      - '9001:9001' # Admin console
    volumes:
      - miniodata:/data

volumes:
  pgdata:
  miniodata:
